

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  color: antiquewhite;
  min-width: 440px;
  max-width: 1500vw;
  position: relative;
}

