@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35353a;
    color: antiquewhite;
    position: relative;
    min-height: 70px;
    margin:1.2rem;
    border-radius: 1.5rem;
    min-width: 95%;
    
}

.title{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
    color: rgb(241, 238, 234);

}

.nav_links{
    height: 100%;
}

.nav_links ul{
    display: flex;
    margin: 0;
    padding: 0;

}

.nav_links li{
    list-style: none;
    
}

.nav_links li a{
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-size: 18px;
    border-radius: 1rem;
}
.nav_links li a:hover{
    background-color: cornflowerblue;
}

.menu_icon{
    font-size: 30px;
    position:absolute;
    top: .75rem;
    right: 1rem;
    margin: 10px;
    display: none;
    flex-direction: column;
    justify-content:end;
    
}

.links_active {
    display: flex!important;
}

@media (max-width: 600px) {
    .menu_icon{
        display: flex;
    }

    .nav_links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .nav_links ul{
        flex-direction: column;
        width: 100%;
    }
    .nav_links li{
        text-align: center;
    }
    /* .nav_links.active{
        display: flex;
    } */
    .title{
        padding-top:1.5rem
    }
    
}

