@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.card{
    width: 350px;
    height: 400px;
    border-radius: 1.3rem;
    color:rgb(221, 221, 217);
    margin:32px auto;
    cursor: pointer;
    border: solid 0.5px;
    border-color: rgb(185, 185, 185);
    box-shadow: 0px 0px 8px rgb(177, 176, 176);
    margin-bottom: 40px;
    font-family: 'Roboto Slab', serif;
    transition: transform 1s!important;
 
}

.card:hover{

    transform: scale(1.1)!important;
    box-shadow: 0px 0px 10px rgb(29, 29, 29);
    border-color: black;
  
}

.card h2{
    display: flex;
    justify-content: center;
    padding-top: 10px;

    /* margin: auto; */
}
.languages{
    margin-left: 2%;
    justify-content: space-between;

    
    position:relative;
    bottom: -5%;

}

.main{
    margin: 15px;
}

.languages t{
    display: flex;
    width: 80%;
    margin-bottom: 10px;
    margin-left:10px;
    font-weight: 600;
    border-bottom: solid 1px;

    
}

.languages div{
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
    font-size: 18px;
    font-weight:600;
}