.section{
    color:antiquewhite;
    margin:1.5rem;
    border: solid 1px;
    border-color: black;
    padding: 3%;
    border-radius: 1.5rem;
    width: 97%;
    height: 100vh;
    display: flex;
    flex-grow: inherit;
    background-color: #35353a;
    box-shadow: 0px 0px 7px rgb(124, 124, 124);
}

.section a{
    font-size: 48px;
}