.section{
    color:antiquewhite;
    margin:1.5rem;
    border: solid 1px;
    border-color: antiquewhite;
    padding: 3%;
    border-radius: 1.5rem;
    width: 97%;

    

}
.section a{
    margin-left: 70%;
    font-size: 40px;
}

.skills_sec{
    display:block;

    font-size: 25px;
}

.skills_sec li{
    padding: 10px;

}